In [7]:
import pandas as pd
import numpy as np

In [39]:
d1 = pd.read_excel("DistMat.xlsx")

In [40]:
d2 = pd.DataFrame(d1)

nan

In [300]:
from selenium import webdriver
from time import sleep

In [339]:
distance = []
state_capi = ['Alipurduar','Bankura','Bardhaman','Birbhum','Dakshin Dinajpur','Darjeeling','Howrah','Hooghly','Jalpaiguri','Cooch Behar','Kolkata','Malda','Murshidabad','Nadia','North 24 Pgs','Paschim Medinipur','Purba Medinipur','Purulia','South 24 Pgs','Uttar Dinajpur']
driver = webdriver.Chrome(executable_path=r"C:\Users\Harshit Singh\Downloads\chromedriver_win32\chromedriver.exe")
sleep(2)
driver.get("https://www.google.co.in/maps/@23.7187323,86.9545401,14z")
sleep(2)
Place = driver.find_element_by_class_name("tactile-searchbox-input")
Place.send_keys(state_capi[19])
Submit = driver.find_element_by_xpath("/html/body/jsl/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/div[1]/button")
Submit.click()
        
sleep(8)
directions = driver.find_element_by_xpath("/html/body/jsl/div[3]/div[9]/div[8]/div/div[1]/div/div/div[4]/div[1]/div/button/img")
directions.click()
for j in range(1489,1521):
        sleep(2)
        find = driver.find_element_by_xpath("/html/body/jsl/div[3]/div[9]/div[3]/div[1]/div[2]/div/div[3]/div[1]/div[1]/div[2]/div/div/input")
        find.clear()
        find.send_keys(d2['Hospital'][j])
        sleep(2)
        search = driver.find_element_by_xpath("/html/body/jsl/div[3]/div[9]/div[3]/div[1]/div[2]/div/div[3]/div[1]/div[1]/div[2]/button[1]")
        search.click()
           
        search1 = driver.find_element_by_xpath("/html/body/jsl/div[3]/div[9]/div[3]/div[1]/div[2]/div/div[2]/div/div/div[1]/div[2]/button/img")
        search1.click()
           
        sleep(5)
        totalkilometers = driver.find_element_by_xpath("/html/body/jsl/div[3]/div[9]/div[8]/div/div[1]/div/div/div[8]/div[1]/div/div[1]/div[1]/div[2]/div")
        distance.append(totalkilometers.text)
        
        sleep(2)
        find.clear()
           
        continue
driver.close()

In [340]:
d4 = pd.DataFrame(distance)
d4

          0
0   80.6 km
1   54.3 km
2   60.0 km
3   60.2 km
4   60.4 km
5   70.9 km
6   70.9 km
7   70.9 km
8    6.0 km
9   87.4 km
10  80.6 km
11  68.9 km
12  68.8 km
13  70.9 km
14  63.3 km
15  95.2 km
16  68.8 km
17  94.1 km
18  36.9 km
19  34.2 km
20  34.2 km
21  68.9 km
22  88.4 km
23  80.6 km
24  16.4 km
25  13.7 km
26  69.8 km
27  52.2 km
28  80.6 km
29  34.2 km
30  37.2 km
31  82.5 km

In [341]:
writer2 = pd.ExcelWriter('3.xlsx')
d4.to_excel(writer2)
writer2.save()